.calculate_form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    height: max-content;
}

.mantine-Input-wrapper {
    width: 230px !important;
}

.mantine-Input-wrapper input, .mantine-Input-wrapper button {
    border-radius: 20px;
    height: 40px;
}